.git
.gitignore

node_modules
**/node_modules

dist
**/dist

coverage
**/coverage

.turbo
**/.turbo

.pnpm-store
.pnpm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

apps/api/logs
state

Dockerfile*
docker-compose*.yml
README.md
